.main-chat-div{
  display: flex;
  flex-direction: column;
}
  #chat-frame {
    width: 100%;
    min-width: 360px;
    max-width: 1000px;
    height: 80vh;
    min-height: 300px;
    max-height: 720px;
    /* background: #E6EAEA; */
  
  }
  @media screen and (max-width: 360px) {
    #chat-frame {
      width: 100%;
      height: 100vh;
    }
  }
  .chat-content {
    width: 100%;
    overflow: hidden;
    position: relative;
  
  }
  
  
  .chat-messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: #dae6fffa;
  }
  @media screen and (max-width: 735px) {
  .chat-messages {
      max-height: calc(100% - 105px);
    }
  }
  .chat-messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .chat-messages::-webkit-scrollbar-thumb {
    background-color: rgb(32,91,167)
  }
  
  .chat-messages  li {
    display: block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    
    
  }
  .chat-messages  li:nth-last-child(1) {
    margin-bottom: 20px;
  }
 
  .sent p {
    background: #205ba7;
    color: #f5f5f5;
    position: relative;
    border-radius: 10px;
    padding: 10px 15px;
    border-right: 10px solid #dae6fffa;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
  }
  
  .chat-messages  li.replies p {
    background: white;
    float: right;
    display: block;
    color: black;
    position: relative;
    border-radius: 10px;
    padding: 10px 15px;
    border-left: 10px solid #dae6fffa;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .chat-messages  li.replies div {
    float: right;
    display: block;
    
  }
  
  .chat-messages  li p {
    display: inline-block;
    padding: 10px 15px;
    max-width: 205px;
    line-height: 100%;
  }
  @media screen and (min-width: 735px) {
  .chat-messages  li p {
      max-width: 300px;
    }
  }
  .chat-message-input {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 65%;
    z-index: 99;
  }

  .chat-message-input input {
    border: 1px solid #32465a;
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
    height:100%;
    width:80%;
    border-radius: 5px;
  }
  .chat-message-input button{
    margin-left: 20px;
    border-radius: 55%;
  }
  @media screen and (max-width: 735px) {
  .chat-message-input input {
      padding: 15px 32px 16px 8px;
    }
  }
  .chat-message-input input:focus {
    outline: none;
  }
  
  .send-button {
    float: right;
    border: none;
    width: 50px;
    padding: 5px 0;
    cursor: pointer;
    background: #205ba7;
    color: #f5f5f5;
    border-radius: 5px;
  }
  @media screen and (max-width: 735px) {
  .send-button {
      padding: 16px 0;
    }
  }
  .send-button:hover {
    background: #435f7a;
  }
  .send-button:focus {
    outline: none;
  }
  
  .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #839DD8;

   
  }
  
  .contact-profile p {
    font-size:1rem;
    font-weight:bold;
    margin-left: 20PX;
   
  }